@model IEnumerable<MvcCoreAWSDynamoDb.Models.Coche>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="post">
    <label>Marca</label>
    <input type="text" name="marca" class="form-control" />
</form>
<a asp-controller="Coches" asp-action="Index">Cancelar</a>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdCoche)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VelocidadMaxima)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCoche)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VelocidadMaxima)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { /* id = item.IdCoche */ }) |*@
                        @Html.ActionLink("Details", "Details", new { id = item.IdCoche }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdCoche })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 style="color: red">No hay coches</h1>
}